
@{
    ViewBag.Title = "航班计划";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">航班计划</li>
                    <li>通航计划</li>
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">普通航班计划</div>
                    <div class="layui-tab-item">通航航班计划</div>
                </div>
            </div> 

